<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyLogin_025.Properties.Settings.MyPracticeConnectionString"
            connectionString="Data Source=.;Initial Catalog=MyPractice;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MyLogin_025.Properties.Settings.MyPracticeConnectionString1"
            connectionString="Data Source=.;Initial Catalog=MyPractice;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>